parameters:
    public_routes:
        - '/api/login'
        - '/api/register'
        - '/api/docs'
        - '/api/public/*'

services:
#    ректор и php stan
#    все сервисы - в атрибутах -
#    аction domain response -
#    докер в отдельную папочку -


    _defaults:
        autowire: true
        autoconfigure: true

    # Прокинуть public_routes в middleware
    App\Component\Auth\Middleware\AuthorizationMiddleware:
        arguments:
            $publicRoutes: '%public_routes%'

    App\EventListener\AuthorizationListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: 64 }

    App\EventListener\IsGrantedEventListener:
        tags:
            - { name: kernel.event_listener, event: kernel.controller, priority: 0 }

    App\Component\Auth\AuthService:
        arguments:
            $secretKey: '%env(resolve:JWT_SECRET)%'

    App\Application\User\Domain\UserRepositoryInterface: '@App\Application\User\Infrastructure\UserRepository'
    App\Application\Task\Domain\TaskRepositoryInterface: '@App\Application\Task\Infrastructure\TaskRepository'

