# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    public_routes:
        - '/api/login'
        - '/api/register'
        - '/api/docs'
        - '/api/public/*'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    App\Service\AuthService:
        arguments:
            $secretKey: '%env(JWT_SECRET)%'
            $userRepository: '@App\Repository\UserRepository'

    App\Component\Auth\Middleware:
        arguments:
            $authService: '@App\Service\AuthService'
            $securityContext: '@App\Security\SecurityContext'
            $publicRoutes: '%public_routes%'

    App\EventListener\AuthorizationListener:
        arguments:
            $authMiddleware: '@App\Middleware\AuthorizationMiddleware'
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: 64 }

    App\EventListener\IsGrantedEventListener:
        arguments:
            $securityContext: '@App\Security\SecurityContext'
        tags:
            - { name: kernel.event_listener, event: kernel.controller, priority: 0 }
