parameters:
    public_routes:
        - '/api/login'
        - '/api/register'
        - '/api/docs'
        - '/api/public/*'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Прокинуть public_routes в middleware
    App\Component\Auth\Middleware\AuthorizationMiddleware:
        arguments:
            $publicRoutes: '%public_routes%'

    App\EventListener\AuthorizationListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: 64 }

    App\EventListener\IsGrantedEventListener:
        tags:
            - { name: kernel.event_listener, event: kernel.controller, priority: 0 }
